src/main/mule/integeration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="608a6517-cd84-41a2-b6b6-54666815b2d5" >
		<http:listener-connection host="localhost" port="8083" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="8fbd1800-84a9-4ccf-a56c-2a5dce22f15d" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="edb7b13f-0fa9-4bf1-9f26-1e8afd6acfa1" >
		<wsc:connection wsdlLocation="http://mu.learn.mulesoft.com/delta?wsdl" service="TicketServiceService" port="TicketServicePort" address="http://mu.learn.mulesoft.com/delta" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d8d89734-9416-4ace-9558-a51c6a3ffa93" >
		<http:request-connection host="mu.learn.mulesoft.com" port="80" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="5c9c49be-43f4-4c66-abe0-254edbf2f53f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="integerationFlow" doc:id="728879cc-cf2f-40ff-9e97-a0e118dfbf57" >

		<http:listener doc:name="Listener" doc:id="2c776705-1d0c-43e1-9797-4a7298c49039" config-ref="HTTP_Listener_config1" path="/intgrationpath"/>
		<logger level="INFO" doc:name="Logger" doc:id="d3f67efe-9c8d-4a70-89a3-8fba3922e030" />


		<http:request method="GET" doc:name="Request" doc:id="0d0cd1a6-8743-4caa-9ad0-33af8283107a" config-ref="HTTP_Request_configuration" path="/united/flights" />
		<ee:transform doc:name="Transform Message" doc:id="77af8849-c50c-4dde-81a0-84ef2907424b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload ++ now()]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[message.attributes.united]" doc:name="Set Variable" doc:id="be4d7614-c21e-4ac5-a7be-0909c0d219bc" variableName="united" />
		<db:select doc:name="Select" doc:id="5453515c-fbe6-4c06-b633-ea1686ff50cc" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="115327a7-a94e-4f02-be46-8b27a3f45788" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
    {
    	american: payload,
        united: vars.united,
        time: now()
    }
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="New" doc:id="9b7c8a39-616d-4f01-ac0c-300778ac734e" />
	</flow>
</mule>
